@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'helveticaLight' ;
    src: url('../public/assets/fonts/helvetica-light-587ebe5a59211.ttf');
}
@font-face {
    font-family: 'helveticaRounded' ;
    src: url('../public/assets/fonts/helvetica-rounded-bold-5871d05ead8de.otf');
}
@font-face {
    font-family: 'helvetica' ;
    src: url('../public/assets/fonts/Helvetica.ttf');
}


body{
    @apply m-0 p-0 box-border
}

                                                                  /* NAVBAR STYLING */
.navbar{
    @apply p-3 sm:gap-4  flex sm:justify-start justify-between font-helvetica items-center
}
.title{
    @apply font-helvetica lg:text-[2em] sm:text-[1.5em] text-2xl
}
#ink{
    @apply text-projectThemeColor
}
.navSection{
    @apply flex justify-between  sm:w-full
}
.menu1{
    @apply mx-6 sm:flex hidden font-helvetica items-center lg:text-[1rem] sm:text-[0.9rem]  gap-7
}
.active{
    @apply border-b-2 border-solid border-b-projectThemeColor
}
.GetStartedAndSearch{
    @apply mx-2 lg:gap-6 gap-4 flex   items-center
}
.icon{
    @apply lg:scale-150 sm:scale-125 scale-110 sm:mr-3 cursor-pointer 
}
#cross{
    @apply text-gray-400 sm:scale-110
}
.searchAndCross{
    @apply  relative left-1/2 -translate-x-1/2 w-max gap-2 justify-center
}
.searchInput{
    @apply border-b-2 border-b-projectThemeColor outline-none px-4 sm:w-max w-1/2 
}
.themeButton{
    @apply sm:flex hidden bg-projectThemeColor text-white sm:px-6 px-3  items-center text-center rounded-[8px] font-helvetica font-extralight lg:text-[15px] sm:text-[13px] text-[12px] sm:py-2 py-3
}
.themeButton:hover{
    @apply scale-[101%]
}
#getStartedbtn{
    @apply sm:hidden flex 
}
#signUpbtn{
    @apply bg-white text-black border-2 border-solid border-gray-400
}

.navbar2{
    @apply sm:hidden flex  fixed top-[90%] z-10 left-1/2 -translate-x-1/2  self-center  py-3 px-6 gap-4 rounded-2xl bg-projectThemeColor text-white drop-shadow-2xl
}


                                                                    /* HEADER STYLING */

.Header{
    @apply  w-full my-10 flex sm:flex-row flex-col  justify-center sm:items-start items-center items-center px-4 sm:gap-[10vw] lg:h-max md:h-[70vh] sm:h-[80vh] 
}
.sloganAndButtonContainer{
    @apply flex  flex-col gap-4
}
.sloganContainer{
    @apply  p-2 flex flex-col sm:items-start items-center sm:text-start text-center font-helveticaRounded lg:text-[2.5rem] md:text-[2.3em] sm:text-[2em] text-[1.95em] sm:w-max
}
.themeText{
    @apply text-projectThemeColor
}
.descContainer{
    @apply sm:flex hidden  p-2 flex-col gap-[3px] font-helvetica text-desc  mt-[1.5vw]
}
.buttonContainer{
    @apply sm:flex hidden p-2 flex-row gap-6 
}
.exploreBtn{
    @apply border-b-2 border-b-projectThemeColor bg-white text-black rounded-none px-2
}
.mainAnimation{
    @apply lg:w-1/5 relative sm:top-10 sm:w-1/4 lg:p-2 w-[90%]
}
.secondSvg{
    @apply absolute right-[3vw] lg:w-[15vw] sm:w-1/4 lg:flex hidden
}
.thirdSvg{
    @apply absolute right-[8vw] top-[370px] lg:w-[13vw] sm:w-1/4 lg:flex hidden
}