@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'helveticaLight' ;
    src: url('../public/assets/fonts/helvetica-light-587ebe5a59211.ttf');
}
@font-face {
    font-family: 'helveticaRounded' ;
    src: url('../public/assets/fonts/helvetica-rounded-bold-5871d05ead8de.otf');
}
@font-face {
    font-family: 'helvetica' ;
    src: url('../public/assets/fonts/Helvetica.ttf');
}
@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; 
      scrollbar-width: none; 
    }
}


body{
    @apply m-0 p-0 box-border overflow-x-hidden flex flex-col 2xl:items-center
}

                                                                  /* NAVBAR STYLING */
.navbar{
    @apply sm:p-3 p-2 sm:gap-4  flex sm:justify-start  justify-between font-helvetica items-center  w-full
}
.title{
    @apply font-helvetica lg:text-[2em] sm:text-[1.5em] text-2xl
}
#ink{
    @apply text-projectThemeColor
}
.navSection{ 
    @apply flex justify-between  sm:w-full 
}
.menu1{
    @apply mx-6 sm:flex hidden font-helvetica items-center lg:text-[1rem] sm:text-[0.9rem]  gap-7
}
.active{
    @apply border-b-2 border-solid border-b-projectThemeColor
}
.GetStartedAndSearch{
    @apply  lg:gap-6 gap-4 flex items-center
}
.icon{
    @apply lg:scale-150 sm:scale-125 scale-110 sm:mr-3 cursor-pointer 
}
#cross{
    @apply text-gray-400 sm:scale-110
}
.searchAndCross{
    @apply  relative left-1/2 -translate-x-1/2 w-max gap-2 justify-center
}
.searchInput{
    @apply border-b-2 border-b-projectThemeColor outline-none px-4 sm:w-max w-1/2 
}
.themeButton{
    @apply flex bg-white text-black sm:px-6 px-3 py-3 items-center text-center border border-projectThemeColor rounded-[8px] font-helvetica font-extralight lg:text-[15px] sm:text-[13px] text-[12px] 
}
.themeButton:hover{
    @apply scale-[101%]
}
#signUpbtn{
    @apply bg-white text-black border-2 border-solid border-gray-400
}

.navbar2{
    @apply sm:hidden flex  fixed top-[90%] z-10 left-1/2 -translate-x-1/2  self-center  py-3 px-6 gap-4 rounded-2xl bg-projectThemeColor text-white drop-shadow-2xl gap-4
}
.popUpOverlay{
    @apply sm:w-[40%] w-[90%] h-max self-center absolute top-[10%]  drop-shadow-2xl right-auto bottom-auto z-50 rounded-[20px] bg-white text-black flex flex-col py-4 px-4 border gap-4
}
.loginHeading{
    @apply mt-4 lg:text-[2rem] md:text-[1.5em] sm:text-[1.3em] text-[1.2em] font-extralight self-center 
}
.providersContainer{
    @apply flex flex-col justify-center self-center mt-8 p-4 gap-6 font-helvetica
}
.signInButton{
    @apply border py-3 px-4 flex items-center gap-2 rounded-[15px] border-black
}
.signInButton:hover{
    @apply scale-[101%]
}
.profileMenuContainer{
    @apply flex flex-col gap-2
}
.alreadyContainer{
    @apply p-4 self-center
}
.avatarAndNameContainer{
    @apply flex flex-row gap-2 justify-between items-center lg:text-[15px] sm:text-[13px] text-[10px] font-helvetica font-extralight px-3 cursor-pointer
}
.avatarImage{
    @apply rounded-[20px] sm:w-[37px] w-[20px]
}
.dropdown {
  @apply border flex flex-col absolute  rounded-[20px] border-black  right-0 top-[10%]   p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-start items-start;
}

.dropdown_link {
  @apply text-sm font-helveticaRounded text-black hover:text-gray-800 font-medium;
}
                                                                    /* HEADER STYLING */

.Header{
    @apply   w-full my-10 flex sm:flex-row flex-col  justify-center sm:items-start items-center p-4 sm:gap-[10vw] h-max overflow-x-hidden 
}
.sloganAndButtonContainer{
    @apply flex  flex-col gap-4
}
.sloganContainer{
    @apply  p-2 flex-col sm:items-start items-center sm:text-start text-center font-helveticaRounded lg:text-[2.5rem] md:text-[2em] sm:text-[1.7em] text-[1.95em] sm:w-max
}
.themeText{
    @apply text-projectThemeColor
}
.descContainer{
    @apply sm:flex hidden  p-2 flex-col gap-[3px] font-helvetica text-desc  mt-[1.5vw]
}
.buttonContainer{
    @apply sm:flex hidden p-2 flex-row gap-6 
}
#buyBtn{
    @apply bg-projectThemeColor border-none text-white
}
.exploreBtn{
    @apply  flex bg-white text-black  px-3 py-3 items-center text-center rounded-[8px] font-helvetica font-extralight lg:text-[15px] sm:text-[13px] text-[12px]  border-b-2 border-b-projectThemeColor bg-white text-black rounded-none
}
.exploreBtn:hover{
    @apply scale-[101%]
}
.mainAnimation{
    @apply 2xl:w-[400px] lg:w-[350px] relative  md:w-[300px] sm:w-[200px] lg:p-2 w-[300px]
}
.secondSvg{
    @apply absolute right-[3vw] lg:w-[15vw] sm:w-1/4 lg:flex hidden
}
.thirdSvg{
    @apply absolute right-[8vw] top-[370px] lg:w-[13vw] sm:w-1/4 lg:flex hidden
}

                                                                    /* FEED STYLING */

                                                                    /* md:max-w-[85%] sm:w-[95%] */
.Feed{
    @apply mt-[100px] flex justify-center   w-full 
    lg:flex-row flex-col-reverse  lg:p-8 sm:p-6   lg:gap-[5vw] gap-10  
}
.mainFeedSection{
    @apply flex flex-col lg:basis-[55%] basis-full 2xl:items-start items-center sm:gap-14 gap-10 p-2  
}
.blogSection{
    @apply flex flex-col gap-4  2xl:items-start w-full p-4 
}
.feedMenu{
    WebkitOverflowScrolling: "touch";
    @apply lg:text-[15px] sm:text-[13px] text-[12px]
    flex font-helvetica font-extralight lg:gap-5 md:gap-4 gap-4 sm:self-start self-center sm:w-max sm:overflow-visible  w-screen overflow-x-hidden overflow-x-scroll text-black px-2
} 
.menuItems{
    @apply flex  h-max whitespace-nowrap sm:mr-2 mr-3
}
#feedActive{
    @apply text-projectThemeColor border-b-2 border-b-projectThemeColor
}
.feedContainer{ 
    @apply flex   sm:justify-center w-[100%]  py-4 justify-between  
}
.feedContent{
    @apply flex flex-col gap-2  2xl:basis-[70%]  basis-full mr-2 md:p-4  
}
.avatarAndTitle{
    @apply flex gap-2 items-center leading-tight 
}
.avatarImg{
    @apply rounded-[20px] lg:w-[30px] w-[20px] 
}
.feedNameContainer{
    @apply  lg:text-[0.9em] sm:text-[0.9em] text-[0.8em]
}
.nameContainer{
    @apply sm:font-normal font-bold cursor-pointer
}
.fieldContainer{ 
    @apply  cursor-pointer  text-black font-helveticaRounded 
}
.feedMainContentContainer{
    @apply flex flex-col gap-2
}
.feedTitle{
    @apply lg:text-[1.2em] text-[1em] font-semibold font-helveticaRounded leading-tight tracking-tight cursor-pointer
}
.blogPara{
    @apply sm:flex hidden mb-2  lg:text-[0.95em] sm:text-[0.9em] text-[0.8em] leading-relaxed font-normal 
}
.dateAndSaveShareContainer{
    @apply flex justify-between
}
.saveAndShare{
    @apply flex sm:gap-2 gap-4 
}
.saveAndShareIcons{
    @apply 2xl:w-[30px] w-[20px] cursor-pointer text-projectThemeColor
}
.blogImgContainer{
    @apply flex 2xl:basis-[35%] md:basis-[40%] sm:basis-[35%] basis-[32%] sm:justify-center justify-end sm:items-center items-center sm:p-4 py-4 
}
.blogImg{
    @apply lg:w-[150px] lg:h-[130px]  sm:w-[150px] sm:h-[130px]    w-[100px] h-[80px] rounded-[5px]
}
.trendingFeedSection{
    @apply lg:sticky flex  flex-col p-2  tracking-tight h-max top-0  gap-4  lg:basis-[25%] basis-full
}
#trendingAvatarImg{
    @apply w-[22px]
}
.connectContainer{
    @apply my-6 flex flex-col  gap-6 lg:flex hidden 
}
.followText{
    @apply font-helveticaRounded lg:text-[1em] sm:text-[0.7em] tracking-wide lg:text-[15px] sm:text-[12px] text-[10px] text-center
}
.connectIconContainer{
    @apply flex gap-2 border-2 border-black rounded-[30px] lg:py-3  sm:py-2  self-center items-center justify-center text-black cursor-pointer lg:text-[16px] sm:text-[13px] text-[8px] w-full  font-helveticaRounded 
}
.connectIconContainer:hover{
    @apply scale-[101%]
}
.connectIcons{
    @apply    lg:w-[28px] md:w-[25px] sm:w-[20px]
}
.FieldFeedNameContainer{
    @apply  lg:text-[13px] sm:text-[9px] text-[8px] font-helvetica font-extralight cursor-pointer
}
.trendingFeedTitle{
   word-spacing: -1px;
    @apply lg:text-[16px] sm:text-[13px] text-[8px] leading-tight tracking-tighter cursor-pointer
}

                                                                    /* SIGN-IN PAGE STYLING */

.signInPage{
    @apply flex justify-center mt-8
}