@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'helveticaLight' ;
    src: url('../public/assets/fonts/helvetica-light-587ebe5a59211.ttf');
}
@font-face {
    font-family: 'helveticaRounded' ;
    src: url('../public/assets/fonts/helvetica-rounded-bold-5871d05ead8de.otf');
}
@font-face {
    font-family: 'helvetica' ;
    src: url('../public/assets/fonts/Helvetica.ttf');
}
@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; 
      scrollbar-width: none; 
    }
}


body{
    @apply m-0 p-0 box-border overflow-x-hidden
}

                                                                  /* NAVBAR STYLING */
.navbar{
    @apply sm:p-3 p-2 sm:gap-4  flex sm:justify-start justify-between font-helvetica items-center 
}
.title{
    @apply font-helvetica lg:text-[2em] sm:text-[1.5em] text-2xl
}
#ink{
    @apply text-projectThemeColor
}
.navSection{
    @apply flex justify-between  sm:w-full
}
.menu1{
    @apply mx-6 sm:flex hidden font-helvetica items-center lg:text-[1rem] sm:text-[0.9rem]  gap-7
}
.active{
    @apply border-b-2 border-solid border-b-projectThemeColor
}
.GetStartedAndSearch{
    @apply mx-2 lg:gap-6 gap-4 flex   items-center
}
.icon{
    @apply lg:scale-150 sm:scale-125 scale-110 sm:mr-3 cursor-pointer 
}
#cross{
    @apply text-gray-400 sm:scale-110
}
.searchAndCross{
    @apply  relative left-1/2 -translate-x-1/2 w-max gap-2 justify-center
}
.searchInput{
    @apply border-b-2 border-b-projectThemeColor outline-none px-4 sm:w-max w-1/2 
}
.themeButton{
    @apply sm:flex hidden bg-projectThemeColor text-white sm:px-6 px-3  items-center text-center rounded-[8px] font-helvetica font-extralight lg:text-[15px] sm:text-[13px] text-[12px] sm:py-2 py-3
}
.themeButton:hover{
    @apply scale-[101%]
}
#getStartedbtn{
    @apply sm:hidden flex 
}
#signUpbtn{
    @apply bg-white text-black border-2 border-solid border-gray-400
}

.navbar2{
    @apply sm:hidden flex  fixed top-[90%] z-10 left-1/2 -translate-x-1/2  self-center  py-3 px-6 gap-4 rounded-2xl bg-projectThemeColor text-white drop-shadow-2xl
}


                                                                    /* HEADER STYLING */

.Header{
    @apply   w-full my-10 flex sm:flex-row flex-col  justify-center sm:items-start items-center items-center px-4 sm:gap-[10vw] lg:h-max md:h-max sm:h-[60vh] overflow-x-hidden 
}
.sloganAndButtonContainer{
    @apply flex  flex-col gap-4
}
.sloganContainer{
    @apply  p-2 flex-col sm:items-start items-center sm:text-start text-center font-helveticaRounded lg:text-[2.5rem] md:text-[2.3em] sm:text-[2em] text-[1.95em] sm:w-max
}
.themeText{
    @apply text-projectThemeColor
}
.descContainer{
    @apply sm:flex hidden  p-2 flex-col gap-[3px] font-helvetica text-desc  mt-[1.5vw]
}
.buttonContainer{
    @apply sm:flex hidden p-2 flex-row gap-6 
}
.exploreBtn{
    @apply border-b-2 border-b-projectThemeColor bg-white text-black rounded-none px-2
}
.mainAnimation{
    @apply lg:w-1/5 relative sm:top-10 sm:w-1/4 lg:p-2 w-[90%]
}
.secondSvg{
    @apply absolute right-[3vw] lg:w-[15vw] sm:w-1/4 lg:flex hidden
}
.thirdSvg{
    @apply absolute right-[8vw] top-[370px] lg:w-[13vw] sm:w-1/4 lg:flex hidden
}

                                                                    /* FEED STYLING */

                                                                    /* md:max-w-[85%] sm:w-[95%] */
.Feed{
    @apply my-[190px] flex justify-center sm:ml-auto  w-full 
    flex-row  px-2 overflow-x-hidden
}
.mainFeedSection{
    @apply flex flex-col sm:basis-3/5 basis-full sm:items-start sm:gap-14 gap-10
}
.blogSection{
    @apply flex flex-col gap-4
}
.feedMenu{
    WebkitOverflowScrolling: "touch";
    @apply lg:text-[0.9em] sm:text-[0.7em] 
    flex font-helveticaRounded lg:gap-5 md:gap-4 gap-4 sm:self-start self-center sm:w-full sm:overflow-visible  w-screen overflow-x-hidden overflow-x-scroll text-projectThemeColor px-2
} 
.menuItems{
    @apply flex  h-max whitespace-nowrap sm:mr-2 mr-3
}
#feedActive{
    @apply text-black border-b-2 border-b-black
}
.feedContainer{
    @apply flex p-4 
}
.feedContent{
    @apply flex flex-col gap-2   sm:basis-[55%] basis-[60%] mr-4
}
.avatarAndTitle{
    @apply flex gap-2 items-center leading-tight 
}
.avatarImg{
    @apply rounded-[20px] lg:w-[30px] w-[20px]
}
.feedNameContainer{
    @apply  lg:text-[0.9em] sm:text-[0.9em] text-[0.8em]
}
.nameContainer{
    @apply sm:font-normal font-bold cursor-pointer
}
.fieldContainer{ 
    @apply font-bold cursor-pointer
}
.feedMainContentContainer{
    @apply flex flex-col gap-2
}
.feedTitle{
    @apply lg:text-[1.2em] text-[1em] font-semibold font-helveticaRounded leading-tight tracking-tight cursor-pointer
}
.blogPara{
    @apply sm:flex hidden mb-2  lg:text-[1em] sm:text-[0.9em] text-[0.8em] leading-tight
}
.dateAndSaveShareContainer{
    @apply flex justify-between
}
.saveAndShare{
    @apply flex sm:gap-2 gap-4
}
.saveAndShareIcons{
    @apply lg:w-[30px] w-[20px] cursor-pointer
}
.blogImgContainer{
    @apply flex basis-[35%] justify-center items-center 
}
.blogImg{
    @apply lg:w-[200px] lg:h-[90%] sm:w-[150px] sm:h-[130px]     h-[85%] w-[85%] rounded-[5px]
}